$primary: rgb(var(--v-theme-primary));
$primary-light: rgb(var(--v-theme-primary-light));
$secondary: rgb(var(--v-theme-secondary));
$secondary-light: rgb(var(--v-theme-secondary-light));
$info: rgb(var(--v-theme-info));
$info-light: rgb(var(--v-theme-info-light));
$success: rgb(var(--v-theme-success));
$success-light: rgb(var(--v-theme-success-light));
$warning: rgb(var(--v-theme-warning));
$warning-light: rgb(var(--v-theme-warning-light));
$danger: rgb(var(--v-theme-danger));
$danger-light: rgb(var(--v-theme-danger-light));
$black: rgb(var(--v-theme-black));
$dark-grey: rgb(var(--v-theme-dark-grey));
$light-grey: rgb(var(--v-theme-light-grey));
$white: rgb(var(--v-theme-white));